/*■■■■■■■■■■■■■■■■■■■■■■■ Declarations */

$blue-1: #2196f3;

/*■■■■■■■■■■■■■■■■■■■■■■■ Core */

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; display: block; color: #fff;}
body{font-family: Verdana, Geneva, Tahoma, sans-serif; background: #191919; color: #fff;}

/*■■■■■■■■■■■■■■■■■■■■■■■ Initial */

header{
    position: absolute; top: 0; left: 0; padding: 0 100px; background: #292929; width: 100%;

    .logo{
        padding: 0; height: 50px; line-height: 50px; font-size: 24px; text-transform: uppercase; font-weight: bold; float: left;
    }

    nav{
        float: right;
    }

    ul{
        display: flex;

        a{
            height: 50px; padding: 0 25px; line-height: 50px;

            &:hover, &.active{
                background: $blue-1;
            }
        }
    }
    
    li{
        position: relative;

        ul{
            position: absolute; left: 0; background: #333; display: none;

            li{
                width: 200px;
            }
        }

        /* &:hover ul{
            display: block;
        } */

        &.smenu:before{
            content: "\f0d7"; position: absolute; font-family: fontAwesome; line-height: 50px; right: 5px;
        }

        &.active:before{
            content: "\f0d8";
        }

        &.active ul{
            display: block;
        }
    }

    .menu{
        float: right; font-size: 24px; line-height: 50px; cursor: pointer; display: none; padding: 0 10px;
    }
}

main{
    height: 100vh; background: url(https://images.unsplash.com/photo-1590953852393-87703d7d5960?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center; background-size: cover;
}

/*■■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■■ Media Queries */

@media (max-width: 950px){
    header{
        padding: 0 20px;
        
        nav{
            position: absolute; width: 100%; height: 90vh; top: 50px; left: -100%; background: rgba(#333, 0.95); transition: 0.3s ease-out;

            ul{
                display: block; text-align: center;
            }

            a{
                border-bottom: 1px solid rgba(#fff, 0.1);
            }

            &.active{
                left: 0;
            }

            li{

                ul{
                    display: none;

                    li{
                        width: 100%; background: rgba($blue-1, 0.1);
                    }
                }

                &.active ul{
                    position: relative;
                }
            }
        }

        .menu{
            display: block;
        }
    }
}